/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-size: 62.75%;
}
body{
  color: white;
  background-color: rgb(66, 64, 70);
  background-image: url(/img/blackDots.png);
  margin: 1.8rem;
  font-size: 1.5rem;
}
header{
  margin-top: 10rem;
}
.heading{
  font-weight: bold;
  font-size: 2rem;
  height: 2vh;
  width: 100%;
  margin-bottom: 4rem;
}
.header{
  margin-top: 10rem;
  margin-bottom: 2rem;
}
/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  padding: 10rem 0;
  max-width: 48vw;
  max-height: 94vh;
  align-self: flex-start;
  margin: 0 auto;
}
h2{
  text-align: center;
}
p{
  width: 100%;
}
.container{
  display: flex;
  width: 100vw;
}
.section{
  display: flex;
  width: 48vw;
  border: 1px solid black;
}
.section100{
  width: 100%;

}
.column{
  flex-direction: column;
}
.center{
  justify-content: center;
  text-align: center;
}
.marginTop{
  margin-top: 1rem;
}
#main{
  padding: 2rem;
  line-height: 2rem;
  letter-spacing: 1px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
